@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    background-color: #00FFFF;
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #8B008B;
    text-align: center;
}
