@charset "UTF-8";
/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #00FFFF;
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #8B008B;
    text-align: center;
}

h4 {
    color: #2F4F4F;
    text-align: center;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: auto;
}

label {
    font-weight: bold;
    color: #696969;
}
